/* DO NOT USE "ORANGE" FOR COLORS, USE "#EF990F". IT'S THE COLOR OF THE LOGO */

.mine{
    background-color:  rgb(98, 0, 128);
}


.logo{
    text-align: center;
    margin-bottom:10px
}

.navbar-brand {
    color:white !important;
}

.btn {
    color: white;
    background-color:  rgb(98, 0, 128);
    border: 1px solid white;
}

.btn:hover {
    color:  rgb(98, 0, 128);
    background-color: black;
    border: 8px solid blue;
}
a {
    color:white;
}
a:hover {
    color: rgb(98, 0, 128);
}

body{
    /* background-color: rgb(0, 132, 255); */
    background-color: black;
}

.row{
   text-align: center;
    display: flex;
    flex-direction:row;
    /* align-content:right; */
}

.container{
    border: 4px black solid;
    width: 100%;
    margin: auto;
    max-width: 99%;
}

.card button {
    border-color:  rgb(98, 0, 128);
    border-width: 5px;
    padding: 0;
}

.col-4 {
    margin: 10px 0;
}

.card{
    margin-bottom: 10px;
    background-color: rgb(98, 0, 128);
  height: 100%;
}

.card-body{
    background-color: black;
    color: white;
}

.card-text{
    color: white
}

.col-md-4{
    margin-bottom: 30px;

}

.modal-body{
    background-color: black;
    color:black;
}

p{
    color: white;
}

#lookingFor{
    background-color: black;
    color: white;
}

.modal-footer{
    background-color: black;
    color: black;
}

.modal-title{
    padding: 1px;
}

.modal-header{
    color: rgb(98, 0, 128;
}

.nav-item {
    color:  rgb(98, 0, 128;
}

.dropdown {
    color:  rgb(98, 0, 128;
}

.dropdown-toggle{
    color: white;
}

.dropdown-toggle::after{
    color: white;
}

.modal-title{
    margin: auto;
}

.modal-header .close{
    margin-left: 0px;
}

